<div>
  <div [class.logo]="true" onclick="window.location.href='/'"></div>
  <div [class.innerDiv]="true">
    <div [class.welcome]="true">
      <h2 class="account">Account: <br />{{ changePassModel.username }}</h2>
      <input
        name="oldpassword"
        placeholder="Old Password"
        type="password"
        id="oldpassword"
        [(ngModel)]="changePassModel.oldPassword"
        required
      />
      <p [class.emptyError]="true" *ngIf="oldPassError">
        Old password can not be empty!
      </p>
      <br />
      <input
        name="newpassword"
        type="password"
        placeholder="New Password"
        [(ngModel)]="changePassModel.newPassword"
        id="newpassword"
        required
      />
      <p [class.emptyError]="true" *ngIf="newPassError">
        New password can not be empty!
      </p>
      <input
        name="newpasswordconfirm"
        type="password"
        placeholder="New Password Confirm"
        [(ngModel)]="newPassConfirm"
        id="newpasswordconfirm"
        required
      />
      <p [class.emptyError]="true" *ngIf="newPassConfirmError">
        New password confirm not match!
      </p>
      <br />
      <button [class.loginBtn]="true" (click)="changePassword()">
        Confirm
      </button>
      <br />
      <button [class.loginBtn]="true" routerLink="/home">Home</button>
    </div>
  </div>
</div>
<app-popup-modal
  *ngIf="showIt"
  title="{{ popupTitle }}"
  message="{{ popupMessage }}"
  (closeEvt)="closeModal()"
>
</app-popup-modal>
