<div [class.background]="true">
  <div [class.innerDiv]="true">
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="ball-spin"
      [fullScreen]="false"
    ></ngx-spinner>
    <div>{{ getPostModel.postInfo.postName }}</div>
    <div>{{ getPostModel.postInfo.createDate | date : "HH:mm d-MMM" }}</div>
    <div>
     
      <a
        ><img src="./assets/like.png" alt="like" style="height: 1vh" />
        {{ getPostModel.postInfo.like }}</a
      > <a>
        <img
          src="./assets/dislike.png"
          alt="dislike"
          style="height: 1vh; margin-left: 0.5vw"
        />
        {{ getPostModel.postInfo.dislike }}</a
      >
    </div>
    <div>{{ getPostModel.postInfo.author.fullname }}</div>
    <div>
      <a *ngFor="let p of getPostModel.postCategories">{{ p.categoryName }} </a>
    </div>
    <div>
      <a *ngFor="let t of getPostModel.postTags"
        ><img
          src="./assets/tag.png"
          alt="tag"
          style="height: 1vh; margin-left: 0.5vw"
        />
        {{ t.tagName }}
      </a>
    </div>
    <div>
      <p [innerHTML]="getPostModel.postInfo.content | sanitizeHtml"></p>
    </div>
  </div>
</div>
