<div class="background">
  <div class="innerDiv">
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="ball-spin"
      [fullScreen]="false"
    ></ngx-spinner>
    <div class="post-name">{{ getPostModel.postInfo.postName }}</div>
    <div class="post-info">
      <div class="post-stat">{{ getPostModel.postInfo.author.fullname }}</div>

      <div class="post-stat">
        <a
          ><img
            src="/assets//like.png"
            alt="like"
            style="height: 1.75vh; min-height: 10px"
            aria-hidden="true"
            (click)="likePost()"
          />
          {{ getPostModel.postInfo.like }}</a
        >
        <a>
          <img
            src="/assets//dislike.png"
            alt="dislike"
            style="height: 1.75vh; margin-left: 0.5vw; min-height: 10px"
            aria-hidden="true"
            (click)="dislikePost()"
          />
          {{ getPostModel.postInfo.dislike }}</a
        >
      </div>

      <div class="post-stat">
        {{ getPostModel.postInfo.createDate | date : "HH:mm d-MMM" }}
      </div>
    </div>
    <div class="post-cate">
      <a *ngFor="let p of getPostModel.postCategories">{{ p.categoryName }} </a>
    </div>
    <div class="post-tag">
      <a *ngFor="let t of getPostModel.postTags"
        ><img
          src="/assets//tag.png"
          alt="tag"
          style="height: 1vh; margin-left: 0.5vw; min-height: 10px"
        />
        {{ t.tagName }}
      </a>
    </div>
    <div class="post-sum">{{ getPostModel.postInfo.summary }}</div>
    <div class="post-content">
      <quill-view-html
        [content]="getPostModel.postInfo.content"
      ></quill-view-html>
    </div>
    <div class="comment-section">
      <!-- Comment section -->
      <div class="root-comment">
        <h2 style="float: left">Post a comment:</h2>
        <textarea
          placeholder="Comment must have less than 400 characters"
          class="root-comment-text"
          [(ngModel)]="postCommentInsert.CommentContent"
        ></textarea>
        <button class="root-comment-btn" (click)="postComment(null)">
          Post comment
        </button>
      </div>
      <h2>Comments</h2>
      <div class="comments">
        <ng-container
          *ngTemplateOutlet="recursiveListTmpl; context: { list: postComments }"
        ></ng-container>
      </div>
      <ng-template #recursiveListTmpl let-list="list" class="comment">
        <div *ngFor="let item of list" class="comment">
          <a class="commenter-name">{{ item.commenter.commenterName }}</a
          ><a class="comment-time">{{
            item.commentDate | date : "HH:mm d/MMM/yyy"
          }}</a>
          <br />
          <p *ngIf="!isEditing" class="comment-content">{{ item.content }}</p>
          <textarea
            style="margin-left: 1vw"
            *ngIf="isEditing && item.id === commentEditShowId"
            (change)="contentEditCounter(item.content)"
            [(ngModel)]="item.content"
          ></textarea>
          <div class="comment-stat">
            <a
              ><img
                aria-hidden="true"
                (click)="likeComment(item.id)"
                src="/assets//like.png"
                alt="like"
                style="height: 1.75vh"
              />
              {{ item.like }}</a
            >
            <a>
              <img
                aria-hidden="true"
                (click)="dislikeComment(item.id)"
                src="/assets//dislike.png"
                alt="dislike"
                style="height: 1.75vh"
              />
              {{ item.dislike }}</a
            >
          </div>
          <div class="comment-btns">
            <button (click)="showReply(true, item.id)">Reply</button>
            <button
              *ngIf="userInfo.id === item.commenter.id && !isEditing"
              (click)="showEdit(true, item.id)"
            >
              Edit
            </button>
            <button
              *ngIf="
                userInfo.id === item.commenter.id &&
                isEditing &&
                item.id === commentEditShowId &&
                !contentLengthForEditCheck
              "
              (click)="updateComment(item.id, item.content)"
            >
              Save Edit
            </button>
            <button
              *ngIf="item.id === commentEditShowId && contentLengthForEditCheck"
              disabled
            >
              Save Edit
            </button>
            <button
              *ngIf="item.id === commentEditShowId && isEditing"
              (click)="showEdit(false, '')"
            >
              Cancel
            </button>
            <div
              class="reply-box"
              *ngIf="isReplying && item.id === commentShowId"
            >
              <textarea
                placeholder="Comment must have less than 400 characters"
                [(ngModel)]="postCommentInsert.CommentContent"
                (change)="contentReplyCounter()"
              ></textarea
              ><br />
              <button
                (click)="postComment(item.id)"
                *ngIf="!contentLengthCheck"
              >
                Send
              </button>
              <button disabled *ngIf="contentLengthCheck">Send</button
              ><button (click)="showReply(false, '')">Cancel</button>
            </div>
          </div>
          <br />
          <div *ngIf="item.replies.length > 0" style="margin-left: 1vw">
            <ng-container
              *ngTemplateOutlet="
                recursiveListTmpl;
                context: { list: item.replies }
              "
            ></ng-container>
          </div>
        </div>
      </ng-template>
      <!-- End comment section -->
    </div>
    <div class="related-posts" (wheel)="onWheel($event)">
      <h2>Posts you may like:</h2>
      <div *ngFor="let post of relatedPosts" class="post-cells">
        <div class="related-post-img">
          <img [src]="post.postInfo.thumbnail" alt="related-thumbnail" />
        </div>
        <div class="related-post-info">
          <div class="related-post-name">
            <a (click)="showPost(post.postInfo.id)" aria-hidden="true">
              {{ post.postInfo.postName }}
            </a>
          </div>
          <div class="related-post-sum">
            <p>{{ post.postInfo.summary }}</p>
          </div>
          <div
            class="related-post-cate"
            *ngFor="let cate of post.postCategories"
          >
            {{ cate.categoryName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popup-modal
  *ngIf="showIt"
  title="{{ popupTitle }}"
  message="{{ popupMessage }}"
  (closeEvt)="closeModal()"
>
</app-popup-modal>
