<div [class.background]="true">
  <div [class.innerDiv]="true">
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="ball-spin"
      [fullScreen]="false"
    ></ngx-spinner>

    <div class="select-category">
      <div class="select-category-box">
        <a>Category: </a>
        <select
          [(ngModel)]="selectedCategory"
          (ngModelChange)="getPostByCategory()"
        >
          <option hidden value="" disabled>Select category</option>
          <option *ngFor="let cate of categories" [ngValue]="cate">
            {{ cate.categoryName }}
          </option>
          <option value="all">All</option>
        </select>
      </div>
    </div>
    <div class="post-grid">
      <div *ngFor="let post of getPostsModel.listPosts" class="post-cell">
        <div class="post-img">
          <img [src]="post.postInfo.thumbnail" alt="thumbnail" />
        </div>
        <div class="post-info">
          <a>{{ post.postInfo.postName }}</a>
          <br />
          <p>{{ post.postInfo.summary }}</p>
          <br />
          <a *ngFor="let p of post.postCategories">{{ p.categoryName }} </a>
          <div style="float: right">
            <a>{{ post.postInfo.createDate | date : "HH:mm d/M/yyyy" }}</a
            ><br />
            <a style="float: right">{{ post.postInfo.author.fullname }}</a
            ><br />
            <a style="float: right"
              ><img src="./assets/like.png" alt="like" style="height: 1vh" />
              {{ post.postInfo.like }}</a
            >
            <a style="float: right">
              <img
                src="./assets/dislike.png"
                alt="dislike"
                style="height: 1vh; margin-left: 1vw"
              />
              {{ post.postInfo.dislike }}</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="page-select">
      <a>Page: </a>
      <button
        disabled
        *ngIf="getPostsModel.paging.curPage === 1"
        (click)="getPostPage(getPostsModel.paging.curPage - 1)"
      >
        Previous
      </button>
      <button
        *ngIf="getPostsModel.paging.curPage !== 1"
        (click)="getPostPage(getPostsModel.paging.curPage - 1)"
      >
        Previous
      </button>
      <a>{{ getPostsModel.paging.curPage }}</a>
      <button
        disabled
        *ngIf="getPostsModel.paging.curPage === getPostsModel.paging.pageCount"
        (click)="getPostPage(getPostsModel.paging.curPage + 1)"
      >
        Next
      </button>
      <button
        *ngIf="getPostsModel.paging.curPage !== getPostsModel.paging.pageCount"
        (click)="getPostPage(getPostsModel.paging.curPage + 1)"
      >
        Next
      </button>
    </div>
  </div>
</div>
