ul {
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: var(--light-color);
  border-radius: 5px;
}
.navbar {
  height: fit-content;
  width: 100%;
  position: absolute;
  z-index: 1;
}
img {
  height: 100%;
}
.menu {
  height: 5vh;
  min-height: 40px;
  width: auto;
  padding: 0;
  margin: 0;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  cursor: pointer;
}
.menu :hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}
li {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
}
ul::-webkit-scrollbar {
  display: none;
}
li a {
  font-family: "Itim", cursive;
  display: flex;
  color: var(--dark-color);
  height: 6vh;
  min-height: 50px;
  font-size: 3em 20px;
  width: 8vh fit-content;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}
.userBox {
  height: 6vh;
  min-height: fit-content;
  width: auto;
  float: right;
}
li a:hover:not(.active) {
  height: 6vh;
  background-color: var(--dark-color);
  color: var(--text-color);
  border-radius: 5px;
}
.active {
  height: 6vh;
  background-color: var(--dark-color);
  border-radius: 5px;
  color: var(--text-color) !important;
}

.dropdown .dropbtn {
  font-family: "Itim", cursive;
  color: var(--text-color);
  font-size: 1em;
  height: 6vh;
  min-height: 50px;
  width: fit-content;
  min-width: 9vw;
  border: none;
  outline: none;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--dark-color);
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--dark-color);
  color: var(--text-color);
}

.dropdown-content {
  margin: 0 auto;
  padding: 0;
  display: none;
  min-height: 50px;
  position: absolute;
  right: 0;
  height: fit-content;
  min-width: 150px;
  width: 9vw;
  background-color: var(--light-color);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: fit-content;
  color: var(--dark-color);
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
  min-width: fit-content;
}
.container {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 6vh;
}
.container:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}
.bar1,
.bar2,
.bar3 {
  width: 2vw;
  min-width: 35px;
  height: 0.5vh;
  min-height: 5px;
  background-color: var(--dark-color);
  margin: 0.5vh;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.4s;
  border-radius: 5px;
}
.bar1 {
  margin-top: 1.75vh;
}
@media only screen and (max-width: 768px) {
  li a {
    width: 13vh;
  }
  .userBox {
    float: none;
    margin-left: 5vw;
    padding: 0;
    margin: 0;
  }
  .userBox button {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
/* ******************** */
.menu-dropdown {
  min-height: 45px;
  height: 6vh;
}
.menu-dropdown-content {
  margin: -5px;
  display: none;
  min-height: 50px;
  position: absolute;
  height: fit-content;
  width: fit-content;
  width: 150px;
  background-color: var(--light-color);
  z-index: 1;
  border-radius: 5px;
}

.menu-dropdown-content a {
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: fit-content;
  color: var(--dark-color);
  text-decoration: none;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.menu-dropdown:hover .menu-dropdown-content {
  display: block;
  cursor: pointer;
  min-width: fit-content;
}
