<div style="position: absolute">
  <div [class.navbar]="true" *ngIf="hideNavbar()">
    <ul>
      <li class="menu">
        <img src="/favicon.ico" alt="homelogo" routerLink="/home" />
      </li>
      <li [class.menu-dropdown]="true">
        <div class="container">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <div [class.menu-dropdown-content]="true">
          <a *ngFor="let category of categories; let i = index">{{
            category.categoryName
          }}</a>
        </div>
      </li>

      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >About</a
        >
      </li>
    </ul>
    <div class="rightContainer">
      <li *ngIf="!userInfo">
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Login</a
        >
      </li>
      <li *ngIf="userInfo">
        <a
          routerLink="/create"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Create</a
        >
      </li>
      <li *ngIf="userInfo">
        <div [class.dropdown]="true">
          <button [class.dropbtn]="true">
            {{ userInfo.fullname }}
          </button>
          <div [class.dropdown-content]="true">
            <a
              routerLink="/password"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Change password</a
            >
            <a
              routerLink="/user-info"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Update information</a
            >
            <a (click)="logout()">Logout</a>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
