<div style="position: absolute">
  <div class="navbar" *ngIf="hideNavbar()">
    <ul>
      <li class="menu">
        <img src="/favicon.ico" alt="homeLogo" routerLink="/home" />
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >About</a
        >
      </li>
    </ul>
    <div class="rightContainer">
      <li *ngIf="!userInfo">
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Login</a
        >
      </li>
      <li *ngIf="userInfo">
        <a
          routerLink="/create"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Create</a
        >
      </li>
      <li *ngIf="userInfo">
        <a
          routerLink="/list-view"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Manage Posts</a
        >
      </li>
      <li *ngIf="userInfo">
        <div class="dropdown">
          <button class="dropbtn">
            {{ userInfo.fullname }}
          </button>
          <div class="dropdown-content">
            <button
              routerLink="/password"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
            >
              Change password
            </button>
            <button
              routerLink="/user-info"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
            >
              Update information
            </button>
            <button (click)="logout()">Logout</button>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
