.navbar {
  display: flex;
  height: fit-content;
  width: 100vw;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: 1;
  background-color: var(--light-color);
  justify-content: space-between;
}

ul {
  height: fit-content;
  max-height: 6vh;
  width: fit-content;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

img {
  height: 100%;
}

.rightContainer {
  height: fit-content;
  width: fit-content;
}

li {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;

}

ul::-webkit-scrollbar {
  display: none;
}

.navbar::-webkit-scrollbar {
  display: none;
}

li a {
  font-family: "Itim", cursive;
  display: flex;
  color: var(--dark-color);
  height: 6vh;
  min-height: 50px;
  font-size: 3em 20px;
  width: 8vh fit-content;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

li a:hover:not(.active) {
  height: 6vh;
  background-color: var(--dark-color);
  color: var(--text-color);
  border-radius: 5px;
}

.active {
  height: 6vh;
  background-color: var(--dark-color) !important;
  border-radius: 5px;
  color: var(--text-color) !important;
}

.dropdown .dropbtn {
  font-family: "Itim", cursive;
  color: var(--text-color);
  font-size: 1em;
  height: 6vh;
  min-height: 50px;
  width: fit-content;
  min-width: 9vw;
  border: none;
  outline: none;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--dark-color);
}

.navbar button:hover,
.dropdown:hover .dropbtn {
  background-color: var(--dark-color);
  color: var(--text-color);
}

.dropdown-content {
  margin: 0 auto;
  padding: 0;
  display: none;
  min-height: 50px;
  right: 0;
  position: absolute;
  height: fit-content;
  min-width: 150px;
  width: 9vw;
  background-color: var(--light-color);
  z-index: 2;
  border-radius: 5px;
  border: 1px solid var(--dark-color);
}

.dropdown-content button {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: fit-content;
  font-family: "Itim", cursive;
  display: flex;
  color: var(--dark-color);
  min-height: 50px;
  font-size: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--light-color);
  border-radius: 5px;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
  min-width: fit-content;
}

.menu {
  height: 5vh;
  min-height: 40px;
  width: auto;
  padding: 0;
  margin: 0;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  cursor: pointer;
}

.menu :hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

@media only screen and (max-width: 768px) {
  li a {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  ul {
    height: fit-content;
  }

  .userBox button {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .menu :hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
  }

}