<div [class.navbar]="true" *ngIf="hideNavbar()">
  <nav>
    <ul>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/tutorials"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Tutorials</a
        >
      </li>
      <li>
        <a
          routerLink="/tips"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Tech Tips</a
        >
      </li>
      <li style="float: right">
        <a
          routerLink="/about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >About</a
        >
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
