ul {
  height: fit-content;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  white-space: nowrap;
  background-color: white;
  border-radius: 5px;
}

li {
  display: inline-block;

  width: fit-content;
}
ul::-webkit-scrollbar {
  display: none;
}
li a {
  font-family: "Itim", cursive;
  display: flex;
  color: hotpink;
  height: 5.5vh;
  font-size: 2vh;
  width: 8vh;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 1vh;
  padding-right: 1vh;
}

li a:hover:not(.active) {
  height: 5.5vh;
  background-color: hotpink;
  color: white;
  border-radius: 5px;
}
.active {
  height: 5.5vh;
  background-color: rgb(227, 176, 214);
  border-radius: 5px;
  color: white !important;
}
.navbar {
  height: 5.5vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  li a {
    width: 10vh;
  }
}
