ul {
  height: fit-content;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

li {
  float: left;
  width: fit-content;
}

li a {
  font-family: "Itim", cursive;
  display: flex;
  color: hotpink;
  height: 5.5vh;
  width: fit-content;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 1vh;
  padding-right: 1vh;
}

li a:hover:not(.active) {
  height: 5.5vh;
  background-color: hotpink;
  color: white;
  border-radius: 5px;
}
.active {
  height: 5.5vh;
  background-color: rgb(227, 176, 214);
  border-radius: 5px;
  color: white !important;
}
.navbar {
  height: 5.5vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}
