ul {
  height: fit-content;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: flex;
  color: white;
  height: 6vh;
  width: 5vw;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

li a:hover:not(.active) {
  height: 6vh;
  background-color: #111;
}

.active {
  height: 6vh;
  background-color: lightpink;
}
.navbar {
  height: 6vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}
