<div>
  <div [class.logo]="true" onclick="window.location.href='/'"></div>
  <div [class.innerDiv]="true">
    <div [class.welcome]="true">
      <input
        name="username"
        type="text"
        placeholder="Username"
        [(ngModel)]="registerInfo.username"
      />
      <br />
      <input
        name="password"
        type="password"
        placeholder="Password"
        [(ngModel)]="registerInfo.password"
      />
      <br />
      <input name="repassword" type="password" placeholder="Confirm password" />
      <br />
      <input
        name="email"
        type="text"
        placeholder="Email"
        [(ngModel)]="registerInfo.email"
      />
      <br />
      <input
        name="fullname"
        type="text"
        placeholder="Full name"
        [(ngModel)]="registerInfo.fullname"
      />
      <br />
      <input
        name="phone"
        type="text"
        placeholder="Phone number"
        [(ngModel)]="registerInfo.phone"
      />
      <br />
      <input
        name="birthdate"
        type="text"
        placeholder="Birthdate"
        onfocus="(this.type ='date')"
      />
      <br />
      <div [class.loginBtn]="true" routerLink="/login">
        <a>Back</a>
      </div>
      <div [class.loginBtn]="true" (click)="validateRegister()">
        <a>Register</a>
      </div>
    </div>
  </div>
  <app-popup-modal
    *ngIf="showIt"
    title="{{ popupTitle }}"
    message="{{ popupMessage }}"
    (close)="closeModal()"
  >
  </app-popup-modal>
</div>
