<div>
  <div [class.logo]="true" onclick="window.location.href='/'"></div>
  <div [class.innerDiv]="true">
    <div [class.welcome]="true">
      <input name="email" type="text" placeholder="Email" />
      <br />
      <input name="fullname" type="text" placeholder="Full name" />
      <input name="username" type="text" placeholder="Username" />
      <br />
      <input name="password" type="password" placeholder="Password" />
      <br />
      <input name="repassword" type="password" placeholder="Confirm password" />
      <br />
      <div [class.loginBtn]="true" routerLink="/login">
        <a>Back</a>
      </div>
      <div [class.loginBtn]="true"><a>Register</a></div>
    </div>
  </div>
</div>
