<div>
  <div class="logo" onclick="window.location.href='/'"></div>
  <div class="innerDiv">
    <div class="welcome">
      <input
        name="username"
        type="text"
        placeholder="Username"
        [(ngModel)]="registerInfo.username"
      />
      <p class="error" *ngIf="validateUsernameError">
        Username must have atleast 7 character!
      </p>
      <input
        name="password"
        type="password"
        placeholder="Password"
        [(ngModel)]="registerInfo.password"
      />
      <p class="error" *ngIf="validatePasswordError">
        Password mus have 1 upper case, 1 digit, 1 special character!
      </p>
      <input
        name="repassword"
        type="password"
        [(ngModel)]="confirmPassword"
        placeholder="Confirm password"
      />
      <p class="error" *ngIf="validateConfirmPasswordError">
        Confirm Password invalid!
      </p>
      <input
        name="email"
        type="text"
        placeholder="Email"
        [(ngModel)]="registerInfo.email"
      />
      <p class="error" *ngIf="validateEmailError">Email format invalid!</p>
      <input
        name="fullname"
        type="text"
        placeholder="Full name"
        [(ngModel)]="registerInfo.fullname"
      />
      <p class="error" *ngIf="validateFullnameError">
        Full name must have atleast 6 character!
      </p>
      <input
        name="phone"
        type="text"
        placeholder="Phone number"
        [(ngModel)]="registerInfo.phone"
      />
      <p class="error" *ngIf="validatePhoneError">Phone is 10 digit!</p>
      <input
        name="birthdate"
        type="text"
        placeholder="Birthdate"
        [(ngModel)]="registerInfo.birthdate"
        onfocus="(this.type ='date')"
      />
      <p class="error" *ngIf="validateBirthdateError">
        You must be 7 or older!
      </p>
      <br />
      <button class="loginBtn" routerLink="/login">
        <a>Back</a>
      </button>
      <button class="loginBtn" (click)="register()">Register</button>
    </div>
  </div>
  <app-popup-modal
    *ngIf="showIt"
    title="{{ popupTitle }}"
    message="{{ popupMessage }}"
    (closeEvt)="closeModal()"
  >
  </app-popup-modal>
</div>
<app-verify-email
  *ngIf="verify"
  (closeEvt)="closePopup()"
  [username]="registerInfo.username"
>
</app-verify-email>
