<div>
  <div [class.logo]="true" onclick="window.location.href='/'"></div>
  <div [class.innerDiv]="true">
    <div [class.welcome]="true">
      <h2 class="account">Account: <br />{{ username }}</h2>
      <a class="title">Fullname:</a><br />
      <input
        [(ngModel)]="userInfo.fullname"
        name="fullname"
        required
        type="text"
      /><br />
      <p *ngIf="fullNameError" [class.emptyError]="true">Fullname invalid!</p>
      <a class="title">Email:</a><br />
      <input
        [(ngModel)]="userInfo.email"
        name="email"
        required
        type="text"
      /><br />
      <p *ngIf="emailError" [class.emptyError]="true">Email invalid!</p>

      <a class="title">Phone number:</a><br />
      <input
        [(ngModel)]="userInfo.phone"
        name="phone"
        required
        type="text"
      /><br />
      <p *ngIf="phoneError" [class.emptyError]="true">Phone invalid!</p>
      <a class="title">Birthdate:</a><br />
      <input
        #a
        #b
        (focus)="a.type = 'date'"
        (focusout)="b.type = 'text'"
        [(ngModel)]="birthdate"
        name="birthdate"
        required
        type="text"
      /><br />
      <p *ngIf="birthDayError" [class.emptyError]="true">Birthday invalid!</p>

      <br />
      <button (click)="updateUserInfo()" [class.loginBtn]="true">
        Confirm
      </button>
      <br />
      <button [class.loginBtn]="true" routerLink="/home">Home</button>
    </div>
  </div>
</div>
<app-popup-modal
  (closeEvt)="closeModal()"
  *ngIf="showIt"
  message="{{ popupMessage }}"
  title="{{ popupTitle }}"
>
</app-popup-modal>
