<div class="background">
  <div class="innerDiv" #innerDiv>
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="ball-spin"
      [fullScreen]="false"
    ></ngx-spinner>
    <div class="create-header">
      <button (click)="activateUser()">Users</button>
      <button (click)="activatePost()">Posts</button>
      <button (click)="activateCategory()">Categories</button>
      <button (click)="activateTag()">Tags</button>
    </div>
    <div class="para">
      <div *ngIf="activeUsers">
        <h1>User list:</h1>
        <div class="console-info">
          <table>
            <tr>
              <th>Username</th>
              <th>Fullname</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Status</th>
            </tr>
            <tr *ngFor="let user of userList">
              <td>{{ user.username }}</td>
              <td>{{ user.fullname }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
              <td *ngIf="user.status" style="color: green">Active</td>
              <td *ngIf="!user.status" style="color: red">Inactive</td>
              <td *ngIf="user.id === this.userInfo.id">
                <a>This is you</a>
              </td>
              <td *ngIf="user.status && user.id !== this.userInfo.id">
                <button (click)="changeUserStatus(user.id, false)">
                  Disable
                </button>
              </td>
              <td *ngIf="!user.status && user.id !== this.userInfo.id">
                <button (click)="changeUserStatus(user.id, true)">
                  Enable
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div *ngIf="activePosts">
        <h1>Posts list:</h1>
        <div class="console-info">
          <table>
            <tr>
              <th>Post Name</th>
              <th>Create Date</th>
              <th>Author</th>
              <th>Status</th>
              <th>Admin status</th>
            </tr>
            <tr *ngFor="let post of getPostsModel.listPosts">
              <td>
                {{ post.postInfo.postName }}
              </td>
              <td>{{ post.postInfo.createDate | date : "HH:mm d-MMM-yyy" }}</td>
              <td>{{ post.postInfo.author.fullname }}</td>
              <td *ngIf="post.postInfo.status">Posted</td>
              <td *ngIf="!post.postInfo.status">Hidden</td>
              <td
                *ngIf="post.postInfo.adminStatus === 'approved'"
                style="color: green"
              >
                Approved
              </td>
              <td
                *ngIf="post.postInfo.adminStatus === 'review'"
                style="color: orange"
              >
                Review
              </td>
              <td
                *ngIf="post.postInfo.adminStatus === 'banned'"
                style="color: red"
              >
                Banned
              </td>
              <td>
                <Button (click)="showPost(post.postInfo.id)">View</Button>
              </td>
              <td *ngIf="post.postInfo.adminStatus === 'approved'">
                <button (click)="banPost(post.postInfo.id)">Ban</button>
              </td>
              <td *ngIf="post.postInfo.adminStatus === 'review'">
                <button (click)="approvePost(post.postInfo.id)">Approve</button>
              </td>
              <td *ngIf="post.postInfo.adminStatus === 'banned'">
                <button (click)="unbanPost(post.postInfo.id)">Unban</button>
              </td>
            </tr>
          </table>
          <div class="page-select">
      <a>Page: </a>
      <button
        disabled
        *ngIf="getPostsModel.paging.curPage === 1"
        (click)="getPostPage(getPostsModel.paging.curPage - 1)"
      >
        Previous
      </button>
      <button
        *ngIf="getPostsModel.paging.curPage !== 1"
        (click)="getPostPage(getPostsModel.paging.curPage - 1)"
      >
        Previous
      </button>
      <input
        type="number"
        [(ngModel)]="getPostsModel.paging.curPage"
        (change)="getPostPage(getPostsModel.paging.curPage)"
      /><span>of {{ getPostsModel.paging.pageCount }}</span>
      <button
        disabled
        *ngIf="getPostsModel.paging.curPage === getPostsModel.paging.pageCount"
        (click)="getPostPage(getPostsModel.paging.curPage + 1)"
      >
        Next
      </button>
      <button
        *ngIf="getPostsModel.paging.curPage !== getPostsModel.paging.pageCount"
        (click)="getPostPage(getPostsModel.paging.curPage + 1)"
      >
        Next
      </button>
    </div>
        </div>
      </div>
      <div *ngIf="activeCategories">
        <h1>Create category</h1>
        <div class="cate-tag-create">
          <a class="title">Category name:</a><br />
          <input
            type="text"
            placeholder="Category name"
            [(ngModel)]="categoryCreateModel.categoryName"
          /><br />
          <a class="title">Category description:</a><br />
          <input
            type="text"
            placeholder="Category description"
            [(ngModel)]="categoryCreateModel.description"
          /><br />
          <button (click)="createCategory()">Create Category</button>
        </div>
        <h1>Update categories</h1>
        <div class="cate-tag-update">
          <table>
            <tr>
              <th>Category name</th>
              <th>Description</th>
            </tr>
            <tr *ngFor="let cateUpdate of categoriesAdmin">
              <td>
                <input
                  type="text"
                  [(ngModel)]="cateUpdate.categoryName"
                  class="edit-input"
                />
              </td>
              <td>
                <textarea
                  type="text"
                  [(ngModel)]="cateUpdate.description"
                  class="edit-input"
                ></textarea>
              </td>
              <td>
                <button (click)="updateCategory(cateUpdate)">Update</button
                ><br />
                <button
                  *ngIf="cateUpdate.status === true"
                  (click)="changeCategoryStatus(cateUpdate.id, false)"
                >
                  Disable
                </button>
                <button
                  *ngIf="cateUpdate.status === false"
                  (click)="changeCategoryStatus(cateUpdate.id, true)"
                >
                  Enable
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div *ngIf="activeTags">
        <h1>Create tag</h1>
        <div class="cate-tag-create">
          <a class="title">Tag name:</a><br />
          <input
            type="text"
            placeholder="Tag name"
            [(ngModel)]="tagCreateModel.tagName"
          /><br />
          <a class="title">Tag description:</a><br />
          <input
            type="text"
            placeholder="Tag description"
            [(ngModel)]="tagCreateModel.description"
          /><br />
          <button (click)="createTag()">Create Tag</button>
        </div>
        <h1>Update categories</h1>
        <div class="cate-tag-update">
          <table>
            <thead>
              <tr>
                <th>Tag name</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tr *ngFor="let tagUpdate of tagsAdmin">
              <td>
                <input
                  type="text"
                  [(ngModel)]="tagUpdate.tagName"
                  class="edit-input"
                />
              </td>
              <td>
                <textarea
                  type="text"
                  [(ngModel)]="tagUpdate.description"
                  class="edit-input"
                ></textarea>
              </td>
              <td>
                <button (click)="updateTag(tagUpdate)">Update</button>
                <br />
                <button
                  *ngIf="tagUpdate.status === true"
                  (click)="changeTagStatus(tagUpdate.id, false)"
                >
                  Disable
                </button>
                <button
                  *ngIf="tagUpdate.status === false"
                  (click)="changeTagStatus(tagUpdate.id, true)"
                >
                  Enable
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popup-modal
  *ngIf="showIt"
  title="{{ popupTitle }}"
  message="{{ popupMessage }}"
  (closeEvt)="closeModal()"
>
</app-popup-modal>
