.background {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0;
    padding: 0;
    font-family: "Itim", cursive;
}

.innerDiv {
    margin: 0 auto;
    background-color: var(--light-color);
    color: var(--text-color);
    height: fit-content;
    max-height: 80vh;
    width: 80%;
    margin-top: 10vh;
    border: solid white 5px;
    border-radius: 15px;
    overflow: scroll;
}

.innerDiv::-webkit-scrollbar {
    display: none;
}

.para {
    margin: 0 auto;
    width: fit-content;
    color: var(--dark-color);
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.create-header {
    background-color: var(--light-color);
    font-size: 1.5em;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 5px;
}

.create-header button {
    font-size: 1em;
    font-family: "Itim", cursive;
    border: solid var(--dark-color) 1px;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--light-color);
    margin: 3px;
}

button:hover {
    color: var(--dark-color);
}

.console-info {
    width: 100%;
    overflow: scroll;
    padding: 5px;
}

.console-info::-webkit-scrollbar {
    display: none;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    white-space: nowrap;
}

td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid var(--dark-color);
    width: fit-content;
    height: fit-content;
}

button {
    font-size: 1em;
    font-family: "Itim", cursive;
    border: solid var(--dark-color) 1px;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--light-color);
    margin: 3px;
}

button:hover {
    color: var(--dark-color);
}

@media only screen and (max-width: 768px) {
    .innerDiv {
        width: 95vw;
        margin-top: 10vh;
    }

    .para {
        width: 100%;
        margin-top: 2%;
    }

    .create-header button {
        width: 48%;
        float: left;
    }

}