.background {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Itim", cursive;
}

.innerDiv {
    margin: 0 auto;
    background-color: var(--light-color);
    color: var(--text-color);
    height: fit-content;
    max-height: 80vh;
    width: fit-content;
    margin-top: 8vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border: solid white 5px;
    border-radius: 15px;
    overflow: scroll;
}

.innerDiv::-webkit-scrollbar {
    display: none;
}

.para {
    margin: 0 auto;
    width: fit-content;
    color: var(--dark-color);
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.create-header {
    background-color: var(--light-color);
    font-size: 1.5em;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 5px;
}

.create-header button {
    font-size: 1em;
    font-family: "Itim", cursive;
    border: solid var(--dark-color) 1px;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--light-color);
    margin: 3px;
}

button:hover {
    color: var(--dark-color);
}

.console-info {
    width: 100%;
    overflow: scroll;
    padding: 5px;
}

.console-info::-webkit-scrollbar {
    display: none;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    white-space: nowrap;
}

tr {
    width: fit-content;
    height: fit-content;
}

td {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: 1px solid var(--dark-color);
    width: fit-content;
    height: fit-content;
    font-size: 1.25em;
}

button {
    font-size: 1em;
    font-family: "Itim", cursive;
    border: solid var(--dark-color) 1px;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--light-color);
    margin: 3px;
}

button:hover {
    color: var(--dark-color);
}

.cate-tag-create {
    color: var(--dark-color);
    width: 40vw;
    margin: 0 auto;
    margin-top: 3vh;
    background-color: var(--light-color);
    border-radius: 5px;
    text-align: center;
}

.cate-tag-create input {
    height: 3vh;
    text-align: center;
    width: 25vw;
}

.cate-tag-create button {
    height: 4vh;
    margin: 1vh;
}

.cate-tag-update {
    color: var(--dark-color);
    width: 50vw;
    margin: 0 auto;
    margin-top: 3vh;
    background-color: var(--light-color);
    border-radius: 5px;
    text-align: center;
    overflow: scroll;
}

.cate-tag-update button {
    width: fit-content;
    padding: 5px;
}

.cate-tag-update td {
    border: none;
    font-size: 1em;
}

.cate-tag-update input {
    height: 5vh;
    width: 10vw;
}

.cate-tag-update textarea {
    height: 5vh;
    width: 20vw;
}

.cate-tag-update::-webkit-scrollbar {
    display: none;
}

input {
    font-family: "Itim", cursive;
    margin: 10px;
    height: 3vh;
    font-size: 1.25em;
    border: solid var(--dark-color) 1px;
    border-radius: 5px;
    width: 96%;
}

textarea {
    margin: 10px;
    border: solid var(--dark-color) 1px;
    border-radius: 5px;
    font-size: 1em;
    width: 96%;
    font-family: "Itim", cursive;
}

.page-select {
    float: right;
    margin-top: 1vh;
    font-size: 1.5em;
}

.page-select button {
    font-family: "Itim", cursive;
    height: fit-content;
    color: var(--dark-color);
    font-size: 0.7em;
    border: 2px solid var(--dark-color);
    border-radius: 5px;
    background-color: var(--light-color);
    text-align: center;
    margin: 3px;
    margin-top: -3px;
}

.page-select button:hover {
    cursor: pointer;
}

.page-select button:disabled {
    color: var(--mid-color);
}

.page-select input {
    width: fit-content;
    height: fit-content;
    font-size: 0.75em;
    width: 1vw;
    padding: 0;
    margin: 3px;
    text-align: center;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-radius: 5px;
    background: none;
    font-family: "Itim", cursive;
}

.page-select input::-webkit-outer-spin-button,
.page-select input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .innerDiv {
        width: 95vw;
        margin-top: 10vh;
    }

    .para {
        width: 100%;
        margin-top: 2%;
    }

    .create-header button {
        width: 48%;
        float: left;
    }

    .cate-tag-create {
        width: 95%;
    }

    .cate-tag-create input {
        width: 90%;
    }

    .cate-tag-update {
        width: 95%;
    }

    .edit-input {
        width: 25vw;
    }

    .cate-tag-update button {
        width: fit-content;
    }

    .cate-tag-update input {
        height: 4vh;
        width: 30vw;
        font-size: 1em;
    }

    .cate-tag-update textarea {
        width: 50vw;
    }

    .page-select input {
        width: 6vw;
    }
}