<div>
  <div class="logo"></div>
  <div class="innerDiv">
    <div class="welcome">
      <h1>Welcome</h1>
      <p>Website under development...</p>
    </div>
    <div class="para">
      <p>This website belongs to Tuong Trinh</p>
      <p>Everything on this website is developed by Tuong Trinh.</p>
      <p>
        This website was created
        <br />
        to share coding knowledge, technology tips and tricks.
      </p>
      <p>For more information <a routerLink="/about"> Click here</a></p>
      <br />
      <div class="homeBtn" routerLink="home">
        <a>Home</a>
      </div>
      <br />
      <div class="loginBtn" routerLink="login">
        <a>Login</a>
      </div>
    </div>
  </div>
</div>
