<div>
  <div class="logo" onclick="window.location.href='/'"></div>
  <div class="innerDiv">
    <div class="welcome">
      <input
        name="username"
        type="text"
        placeholder="Username"
        id="username"
        required
        [(ngModel)]="loginInfo.username"
        (keyup.enter)="login()"
      />
      <p class="emptyError" *ngIf="usernameEmpty">Username can not be empty!</p>
      <br />
      <input
        name="password"
        type="password"
        placeholder="Password"
        id="password"
        required
        [(ngModel)]="loginInfo.password"
        (keyup.enter)="login()"
      />
      <p class="emptyError" *ngIf="passwordEmpty">Password can not be empty!</p>
      <p class="loginError" *ngIf="loginError">{{ loginError }}</p>
      <br />
      <button class="loginBtn" (click)="login()">Login</button>
      <br />
      <button class="loginBtn" routerLink="/register">Register</button>
    </div>
  </div>
</div>
<app-verify-email
  [username]="loginInfo.username"
  *ngIf="verify"
  (closeEvt)="closePopup()"
>
</app-verify-email>
