body,
html {
  height: 100%;
  min-height: fit-content;
  margin: 0;
  padding: 0;
  background-image: url("./assets/wal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --dark-color: rgb(252, 103, 178);
  --mid-color: rgb(255, 197, 242);
  --light-color: white;
  --black-color: black;
  --text-color: white;
  --navbar-height: 8vh;
}

@font-face {
  font-family: Itim;
  src: url(./assets/Itim-Regular.ttf) format("opentype");
}

@font-face {
  font-family: YellowTail;
  src: url(./assets/Yellowtail-Regular.ttf) format("opentype");
}