body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("https://tuongtlc.ddns.net:8080/resource/background/wal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
