<div [class.background]="true">
  <div [class.innerDiv]="true">
    <div class="create-header">
      <a (click)="activatePost()">Post</a>
      <a (click)="activateCategory()">Catgory</a>
      <a (click)="activateTag()">Tag</a>
    </div>
    <div *ngIf="activePost" class="para">
      <div class="postInfo">
        <h1 style="text-align: center">Post Info</h1>
        <label>Post name:</label><br />
        <input
          type="text"
          placeholder="Post name"
          [(ngModel)]="postModel.postName"
        />
        <br />

        <label>Post summary:</label><br />
        <textarea
          cols="50"
          rows="3"
          placeholder="Post summary"
          [(ngModel)]="postModel.summary"
        ></textarea
        ><br />

        <label>Post thumbnail url:</label><br />
        <input
          type="text"
          placeholder="Post thumbnail url"
          [(ngModel)]="postModel.thumbnail"
        /><br />

        <label>Post categories:</label
        ><select
          [(ngModel)]="selectedCategoryValue"
          (ngModelChange)="selectCategory()"
        >
          <option disabled>Select Category</option>
          <option *ngFor="let cate of categories" [ngValue]="cate">
            {{ cate.categoryName }}
          </option></select
        ><br />
        <a *ngFor="let category of selectedCategories">
          {{ category.categoryName
          }}<button (click)="removeSelectedCategory(category)">X</button> </a
        ><br />

        <label>Post Tags:</label>
        <select [(ngModel)]="selectedTagValue" (ngModelChange)="selectTag()">
          <option disabled>Select Tag</option>
          <option *ngFor="let tag of tags" [ngValue]="tag">
            {{ tag.tagName }}
          </option></select
        ><br />
        <a *ngFor="let tag of selectedTags">
          {{ tag.tagName }}<button (click)="removeSelectedTag(tag)">X</button>
        </a>
      </div>
      <div class="upload">
        <h1>URLs</h1>
        <p>Upload files to get urls(2MB per file)</p>
        <input
          type="file"
          (change)="fileChange($event)"
          multiple
          style="width: 80%"
        />
        <button (click)="uploadFile()" [disabled]="uploadBtnDisable">
          Upload
        </button>
        <p *ngIf="fileSizeError" style="color: red">
          A file you selected exceed 2MB!
        </p>
        <h2>You uploaded:</h2>
        <p *ngFor="let url of uploadUrlList">
          {{ url.uploadDate | date : "d-MMM-yyyy HH:mm:ss" }}<br />
          <a [href]="url.path" target="_blank">{{
            url.path.replace(
              "https://tuongtlc.ddns.net:8080/FileStorage/Pictures/" +
                url.uploadedBy +
                "/",
              ""
            )
          }}</a
          ><button (click)="copyBtn(url.path)" *ngIf="url.path !== coppiedUrl">
            Copy url
          </button>
          <button (click)="copyBtn(url.path)" *ngIf="url.path === coppiedUrl">
            Coppied
          </button>
          <button (click)="removeFile(url.path)">Delete</button>
        </p>
      </div>
      <div class="editor">
        <form [formGroup]="form">
          <div>
            <h1 style="text-align: center; font-family: Itim">Post content</h1>
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
            </ngx-editor-menu>
            <ngx-editor [editor]="editor" formControlName="editorContent">
            </ngx-editor>
          </div>
        </form>
        <button (click)="save()">Save</button>
      </div>
    </div>
    <div *ngIf="activeCategory">Cate</div>
    <div *ngIf="activeTag">Tag</div>
  </div>
</div>
<app-popup-modal
*ngIf="showIt"
title="{{ popupTitle }}"
message="{{ popupMessage }}"
(close)="closeModal()"
>
</app-popup-modal>