.background {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
}
.postInfo {
  padding: -50px;
  height: 60vh;
  width: 50%;
  float: left;
  overflow: scroll;
  background-color: var(--light-color);
  outline: 2px solid var(--dark-color);
  outline-offset: -2px;
  border-radius: 5px;
}
.postInfo::-webkit-scrollbar {
  display: none;
}
.upload {
  text-align: center;
  height: 60vh;
  width: 50%;
  overflow-y: scroll;
  float: left;
  background-color: var(--light-color);
  outline: 2px solid var(--dark-color);
  outline-offset: -2px;
  border-radius: 5px;
}
.upload::-webkit-scrollbar {
  display: none;
}
.uploadImgBox {
  height: 20vh;
  min-height: fit-content;
  width: 30%;
  min-width: fit-content;
  float: left;
  margin: 1vh;
}
.innerDiv {
  background-color: var(--mid-color);
  color: var(--text-color);
  height: 90vh;
  width: 80%;
  margin-top: 6vh;
  border: solid white 5px;
  border-radius: 15px;
  overflow: scroll;
}
.editor {
  font-family: none;
  float: left;
  width: 100%;
  margin-top: 3vh;
  background-color: var(--light-color);
  outline: 2px solid var(--dark-color);
  outline-offset: -2px;
  border-radius: 5px;
}
.innerDiv::-webkit-scrollbar {
  display: none;
}
.para {
  margin: 0 auto;
  width: 95%;
  color: var(--dark-color);
  background-color: white;
  border-radius: 5px;
}
.title {
  margin: 10px;
  font-size: 2em;
}
a {
  margin-left: 10px;
}
input {
  font-family: "Itim", cursive;
  margin: 10px;
  height: 3vh;
  font-size: 1em;
  border: solid var(--dark-color) 1px;
  border-radius: 5px;
  width: 96%;
}
button {
  font-size: 1em;
  font-family: "Itim", cursive;
  border: solid var(--dark-color) 1px;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--light-color);
  margin: 3px;
}

textarea {
  margin: 10px;
  border: solid var(--dark-color) 1px;
  border-radius: 5px;
  font-size: 1em;
  width: 96%;
  font-family: "Itim", cursive;
}
.create-header {
  background-color: var(--light-color);
  font-size: 1.5em;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 5px;
}
.create-header a {
  color: var(--dark-color);
  font-size: 2em;
  cursor: pointer;
  padding-left: 2vw;
  padding-right: 2vw;
}
.create-header a:hover {
  background-color: var(--dark-color);
  color: var(--text-color);
  border-radius: 12px;
}

select::-ms-expand {
  display: none;
}
select {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  font: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
}
.savePostBtns {
  float: right;
  height: fit-content;
  width: fit-content;
  margin: 2vh auto;
  border-radius: 5px;
  background-color: var(--light-color);
}
.savePostBtns button {
  padding: 15px;
  font-size: 1em;
  color: var(--dark-color);
  border-radius: 5px;
}
.savePostBtns button:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}
img:hover {
  transform: scale(3);
  transition-duration: 0.2s;
}
.cate-tag-create {
  color: var(--dark-color);
  width: 40vw;
  margin: 0 auto;
  margin-top: 3vh;
  background-color: var(--light-color);
  outline: 1px solid var(--dark-color);
  outline-offset: -2px;
  border-radius: 5px;
  text-align: center;
}
.cate-tag-create input {
  height: 3vh;
  text-align: center;
  width: 25vw;
}
.cate-tag-create button {
  height: 4vh;
  margin: 1vh;
}
.cate-tag-update {
  color: var(--dark-color);
  width: 40vw;
  margin: 0 auto;
  margin-top: 3vh;
  background-color: var(--light-color);
  outline: 1px solid var(--dark-color);
  outline-offset: -2px;
  border-radius: 5px;
  text-align: center;
  overflow: scroll;
}
.cate-tag-update button {
  width: fit-content;
  padding: 5px;
}
.cate-tag-update::-webkit-scrollbar {
  display: none;
}
table {
  margin: 0 auto;
  padding: 0;
  border-collapse: collapse;
}
tr {
  border: 1px solid var(--dark-color);
}
.edit-input {
  width: 15vw;
}
@media only screen and (max-width: 768px) {
  .innerDiv {
    width: 95vw;
    margin-top: 6vh;
  }
  .para {
    width: 100%;
    margin-top: 2%;
  }
  .postInfo {
    width: 100%;
    height: fit-content;
  }
  .upload {
    width: 100%;
    height: fit-content;
  }
  input {
    width: 92%;
  }
  textarea {
    width: 92%;
  }
  .editor {
    width: 100%;
  }
  .uploadImgBox {
    width: 96%;
    margin: 0;
  }
  .cate-tag-create {
    width: 95%;
  }
  .cate-tag-create input {
    width: 90%;
  }
  .cate-tag-update {
    width: 95%;
  }
  .edit-input {
    width: 25vw;
  }
  .cate-tag-update button {
    width: fit-content;
  }
}
