.background {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.innerDiv {
  background-color: var(--mid-color);
  color: var(--text-color);
  height: 90vh;
  width: 80%;
  margin-top: 8vh;
  border: solid white 5px;
  border-radius: 15px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.innerDiv::-webkit-scrollbar {
  display: none;
}

.para {
  width: 95%;
  color: var(--dark-color);
  background-color: white;
}
@media only screen and (max-width: 768px) {
  .innerDiv {
    width: 95vw;
    margin-top: 20%;
  }
  .para {
    width: 99%;
    margin-top: 2%;
  }
}
