<div [class.background]="true">
  <link
    href="https://fonts.googleapis.com/css2?family=Itim&display=swap"
    rel="stylesheet"
  />
  <div [class.innerDiv]="true">
    <div [class.para]="true">
      <img
        src="https://tuongtlc.ddns.net:8080/resource/background/background.jpg"
      /><img
        src="https://tuongtlc.ddns.net:8080/resource/background/background.jpg"
      /><img
        src="https://tuongtlc.ddns.net:8080/resource/background/background.jpg"
      /><img
        src="https://tuongtlc.ddns.net:8080/resource/background/background.jpg"
      /><img
        src="https://tuongtlc.ddns.net:8080/resource/background/background.jpg"
      /><img
        src="https://tuongtlc.ddns.net:8080/resource/background/background.jpg"
      /><img
        src="https://tuongtlc.ddns.net:8080/resource/background/background.jpg"
      /><img
        src="https://tuongtlc.ddns.net:8080/resource/background/background.jpg"
      /><img
        src="https://tuongtlc.ddns.net:8080/resource/background/background.jpg"
      /><img
        src="https://tuongtlc.ddns.net:8080/resource/background/background.jpg"
      /><img
        src="https://tuongtlc.ddns.net:8080/resource/background/background.jpg"
      /><img
        src="https://tuongtlc.ddns.net:8080/resource/background/background.jpg"
      /><img
        src="https://tuongtlc.ddns.net:8080/resource/background/background.jpg"
      />
    </div>
  </div>
</div>
